<div
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{index}"
        layout:fragment="content"
>
  <!-- Content Header -->
  <section class="content-header">
    <h1>
      Edit User
      <small>Update existing system user</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#"><i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li><a th:href="@{/admin/v1/users/manage}">Manage Users</a></li>
      <li class="active">Edit User</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Edit User Information</h3>
          </div>

          <form
            th:action="@{/admin/v1/users/update/{id}(id=${user.id})}"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="box-body">
              <div class="row">
                <!-- Full Name -->
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label>Full Name</label>
                    <input
                      type="text"
                      name="fullName"
                      class="form-control"
                      th:value="${user.fullName}"
                    />
                  </div>
                </div>

                <!-- Username -->
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label>Username</label>
                    <input
                      type="text"
                      name="username"
                      class="form-control"
                      th:value="${user.username}"
                    />
                  </div>
                </div>

                <!-- Email -->
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label>Email</label>
                    <input
                      type="email"
                      name="email"
                      class="form-control"
                      th:value="${user.email}"
                    />
                  </div>
                </div>

                <!-- Phone -->
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label>Phone Number</label>
                    <input
                      type="text"
                      name="phone"
                      class="form-control"
                      th:value="${user.phone}"
                    />
                  </div>
                </div>

                <!-- Role -->
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label>Role</label>
                    <select name="role" class="form-control">
                      <option
                        value="ADMIN"
                        th:selected="${user.role == 'ADMIN'}"
                      >
                        Admin
                      </option>
                      <option
                        value="STAFF"
                        th:selected="${user.role == 'STAFF'}"
                      >
                        Staff
                      </option>
                      <option value="USER" th:selected="${user.role == 'USER'}">
                        User
                      </option>
                    </select>
                  </div>
                </div>

<!--                Profile -->
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label>Profile Image</label>

                    <!-- User image -->
                    <img
                        th:if="${user.imagePath != null and user.imagePath != ''}"
                        th:src="@{'/uploads/users/' + ${user.imagePath}}"
                        alt="Profile"
                        style="width: 80px; height: 80px; object-fit: cover; border-radius: 50%; margin-bottom: 10px;"
                    />

                    <!-- Default image -->
                    <img
                        th:unless="${user.imagePath != null and user.imagePath != ''}"
                        th:src="@{'/uploads/no-image.png'}"
                        alt="Profile"
                        style="width: 80px; height: 80px; object-fit: cover; border-radius: 50%; margin-bottom: 10px;"
                    />

                    <!-- Upload new image -->
                    <input
                      type="file"
                      name="image"
                      class="form-control"
                      accept="image/*"
                    />
                  </div>
                </div>

                <!-- Status -->
                <div class="col-md-6 col-sm-12">
                  <label class="form-label">Status</label>

                  <div class="d-flex gap-3">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="radio" name="status" id="statusActive" value="ACTIVE"
                             th:checked="${user.getStatus() == 'ACTIVE'}">
                      <label class="form-check-label" for="statusActive">Active</label>
                    </div>

                    <div class="form-check form-switch">
                      <input class="form-check-input" type="radio" name="status" id="statusInactive" value="INACTIVE"
                             th:checked="${user.getStatus() == 'INACTIVE'}">
                      <label class="form-check-label" for="statusInactive">Inactive</label>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="box-footer">
              <a th:href="@{/admin/v1/users}" class="btn btn-default">
                <i class="fa-solid fa-angle-left"></i>
                Back
              </a>
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Update User
              </button>
              <button
                class="btn btn-warning"
                type="reset"
                >Reset
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
